
# Node
node_modules/
npm-debug.log

# Env
.env
.env.*.local

# Build
dist/
build/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Node / backend
/backend/node_modules/
/backend/.env
/frontend/dist/
.env
*.log
